
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
  {% block head %}

  {% endblock head %}
</head>

<body class="bg-background text-foreground h-screen">
  <div id="content">
    <h1 class="italic font-thin text-2xl text-center p-4"><a class="hover:underline decoration-red-700" href="/">Imaginary Gallery</a></h1>
    {% block content %}
    {% endblock content %}
  </div>

  {% block js %}

  {% endblock js %}
</body>

</html>
