
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
  {% block head %}

  {% endblock head %}
</head>

<body class="bg-zinc-900 h-screen text-white">
  <div id="content">
    <h1 class="italic font-thin text-2xl text-center p-4 dark:text-slate-100"><a class="hover:underline decoration-red-700" href="/">Imaginary Gallery</a></h1>
    {% block content %}
    {% endblock content %}
  </div>

  {% block js %}
  <script>
    document.addEventListener('keydown', function(event) {
      if (event.key === 'h' || event.key === 'ArrowLeft') {
        const prevLink = document.getElementById('prev-link');
        if (prevLink) {
          window.location.href = prevLink.href;
        }
      } else if (event.key === 'l' || event.key === 'ArrowRight') {
        const nextLink = document.getElementById('next-link');
        if (nextLink) {
          window.location.href = nextLink.href;
        }
      }
    });
  </script>
  {% endblock js %}
</body>

</html>
