{% extends "base.html" %}

{% block title %}
Create arts
{% endblock title %}

{% block content %}
<h1 class="text-foreground">Create new arts</h1>
<div class="mb-10">
    <form action="/arts" method="post">
        <div class="mb-5">
        <div>
            <label>image</label>
            <br />
            <input id="image" name="image" type="text" value="" required/>
            </div>
        <div>
            <label>prompt</label>
            <br />
            <input id="prompt" name="prompt" type="text" value="" required/>
            </div>
        <div>
            <label>title</label>
            <br />
            <input id="title" name="title" type="text" value="" required/>
            </div>
        <div>
            <label>uuid</label>
            <br />
            </div>
        </div>
        <div>
            <button class=" text-xs py-3 px-6 rounded-lg bg-gray-900 text-white" type="submit">Submit</button>
        </div>
    </form>
<br />
<a href="/arts">Back to arts</a>
</div>
{% endblock content %}
