{% extends "base.html" %}

{% block title %}
Edit arts: {{ item.id }}
{% endblock title %}

{% block content %}
<h1>Edit arts: {{ item.id }}</h1>
<div class="mb-10">
    <form action="/arts/{{ item.id }}" method="post">
    <div class="mb-5">
    <div>
            <label>image</label>
            <br />
            <input id="image" name="image" type="text" value="{{item.image}}" required></input>
            </div>
    <div>
            <label>prompt</label>
            <br />
            <input id="prompt" name="prompt" type="text" value="{{item.prompt}}" required></input>
            </div>
    <div>
            <label>title</label>
            <br />
            <input id="title" name="title" type="text" value="{{item.title}}" required></input>
            </div>
    <div>
            <label>uuid</label>
            <br />
            </div>
    <div>
    <div class="mt-5">
            <button class=" text-xs py-3 px-6 rounded-lg bg-gray-900 text-white" type="submit">Submit</button>
            <button class="text-xs py-3 px-6 rounded-lg bg-red-600 text-white"
                        onclick="confirmDelete(event)">Delete</button>
        </div>
    </form>
</div>
<a href="/arts">Back to arts</a>
</div>
{% endblock content %}

{% block js %}
<script>
function confirmDelete(event) {
    event.preventDefault();
    if (confirm("Are you sure you want to delete this item?")) {
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", "/arts/{{ item.id }}", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                window.location.href = "/arts";
            }
        };
        xhr.send();
    }
}
</script>
{% endblock js %}