<style>
.image-glow-container {
  position: relative;
}

.animated-border-box, .animated-border-box-glow {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.image-glow-container.glow-active .animated-border-box {
  opacity: 1;
}

.image-glow-container.glow-active .animated-border-box-glow {
  opacity: 0.9;
}

.animated-border-box-glow {
  filter: blur(10px);
}

.animated-border-box:before, .animated-border-box-glow:before {
  content: '';
  z-index: -3;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  width: 99999px;
  height: 99999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(rgba(0,0,0,0), rgb(255, 110, 110), rgba(0,0,0,0) 25%);
  animation: rotate 4s linear infinite;
}

.animated-border-box:after {
  content: '';
  position: absolute;
  z-index: -2;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
</style>
